<header class="row header">
    <div class="header-title pull-left col-sm-2">
        {% spaceless %}
            <a href="{{ path('tp.admin.content.dashboard') }}">
                <span class="header-title-first">Test</span>
                <span class="header-title-second">Pal</span>
            </a>
        {% endspaceless %}
    </div>

    <div class="header-profile col-sm-2 pull-right">
        <img class="header-profile-avatar img-circle" src="{{ gravatar('petre@dreamlabs.ro') }}"
             alt="Profile Picture"/>
        <a href="#"><span class="header-profile-name">Petre Pătrașc</span></a>
    </div>
</header>

<div class="clearfix"></div>