<div class="col-xs-12 col-sm-3 col-md-2 sidebar pull-left">
    <nav class="sidebar-nav">
        <ul>
            <a href="#">
                <li>Dashboard</li>
            </a>
            <a href="#">
                <li>Examinations</li>
            </a>
            <a href="#">
                <li>Reports</li>
            </a>
            <a href="#">
                <li>Tests</li>
            </a>
            <a href="#">
                <li>Questions</li>
            </a>
            <a href="#" class="sidebar-nav-last">
                <li>Answers</li>
            </a>
        </ul>
    </nav>
</div>