body {
    color: #333;
    background: url('../images/bg-texture-00.svg') repeat scroll 0% 0% #333;
    font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 21px;
}

#main-content {
    background-color: #F2F2F2;
    line-height: 1.5em;
    padding: 1.5em;
}

#main-content h1, #main-content h2, #main-content h3, #main-content h4, #main-content h5, #main-content h6 {
    border-bottom: 1px dotted;
    color: #369;
    padding: 0.5em 0;
    margin-top: -1px;
}

#main-content .questions {
    margin-top: 3em;
}

#main-content .answers {
    margin-bottom: 3em;
}

#main-content .answer-entry {
    margin-top: 1em;
    padding-top: 1em;
}

#sidebar {
    color: #E6E6E6;
}

.sidebar-content {
    position: fixed;
}

#sidebar h3 {
    font-weight: bold;
}

.question-navigator-link {
    margin: 0.3em;
}