{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/testpalclient/css/application.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}