.content {
    background-color: #fff;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    min-height: 900px;
}

.content a, .content a:visited, .content a:hover {
    color: #fff;
}

.content-wrapper {
    background-color: #fff;
}

.content-title {
    margin-bottom: 1em;
}

.content-report {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content-box {
    box-shadow: 5px 5px 10px #c9c9c9;
    border: 1px solid #889;
    color: #fff !important;
    font-size: 3rem;
    margin-bottom: 1em;
    padding: 0.3em 0.7em;
    text-align: right;
    text-shadow: 1px 1px #667;
}

.content-box-wrapper {
    margin-top: 1em;
}

.content-box-center {
    font-size: 180%;
    text-align: center;
}

.content-box-wrapper a {
    display: block;
}

/* QUESTION */
.content-question {
    border-top: 1px dashed #c9c9c9;
    padding: 1em 0;
    margin: 1em 0 0;
}

.content-question ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-question li {
    display: block;
    margin-bottom: 0.5em;
}

.content-question .btn {
    margin-right: 1em;
    width: 100px;
}