.sidebar {
    background-color: #878787;
    min-height: 1000px;
}

.sidebar-nav {
    margin: 0;
    padding: 0;
}

.sidebar-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav a li {
    color: #fff;
    display: block;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-shadow: 1px 1px 2px #333;
}

.sidebar-nav a li:hover {
    background-color: #c9c9c9;
}